dvc
dvc-s3
dagshub
mlflow
scikit-learn
torch
ipykernel
seaborn
Flask
Flask-Cors
ensure
joblib
tqdm
python-box
pyYAML
notebook
pymongo
pymongo[srv]==3.12
certifi
python-dotenv


## -e . # refers to the setup.py file.